.skills-container{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5rem;
    background-color: #010000;

}

h1{
    color: white;
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
}
.skills-content{
    margin-top: 120px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;

}
.skills{
    flex:1;
    display: grid;
    grid-gap:3rem ;
    grid-template-columns: repeat(2 , 1fr);
    color: #21289d;
}

.skills-info{
    flex : 1 ;
    margin-left: auto ;
    margin-right: auto;
    color: white;
    
    
}

@media (max-width : 1025px){
    .skills{
        padding-left: 1rem;
    }
    .skills , .skills-content{
        grid-gap: 2rem;
    }
}

@media (max-width : 885px){
    h1{
    
        font-size: 1.6rem;
    } 
}